<div class='pt-24 min-h-screen'>
  <div
    class='container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center'
  >
    <h1 class='text-4xl font-bold text-center'>
      POESIAS
    </h1>
    <p>
      Praesent nunc diam, lacinia aliquam placerat et, vestibulum in elit. Nulla
      sodales condimentum erat, id tempus libero. Nam a imperdiet tortor. Nullam
      tempor eget augue sed varius. Quisque eget nisi dapibus nibh consectetur
      ornare at dictum lectus. Ut massa orci, porttitor eget elit quis,
      convallis laoreet tellus. Morbi fringilla velit et ex tristique accumsan.
      Mauris vel posuere elit. Morbi commodo arcu quis tellus cursus
      consectetur. Mauris hendrerit lectus diam, et fermentum est bibendum quis.
      Morbi lacinia vulputate purus sed tempor. Suspendisse sit amet suscipit
      mi.
    </p>
  </div>

  <div>

    {{#each books}}
      <li>{{this.title}}</li>
    {{/each}}

  </div>

</div>